
// ============ 公用 ============ // 
@use "sass:math";

// 基本變數定義
@import "base/base";

// 斷點
// 768px 
@mixin pad() {
    @media all and (max-width: $l_breakpoint) {
        @content;

    }
}
// 414px
@mixin mobile() {
    @media all and (max-width: $m_breakpoint) {
        @content;
    }
}

body {
    font-family: "Noto Sans TC";
    line-height: 1.6;
    font-size: 16px;
    letter-spacing: 1px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 1s;
}
.fulid_wrapper {
    margin: 0 auto;
    width: 100%;
}
.wrapper {
    margin: 0 auto;
    max-width: 1920px;
}

// ============ 公用END ============ //

div.container {
    margin: 0 auto;
    background-image: url("../img/baseColor.png");
    background-position: center center;
    background-size: cover;
    div.header {
        position: relative;
        z-index: 2;

        // 白色線條
        div.whiteWaves {
            overflow: hidden;
            img {
                display: block;
                width: 100%;
                &:first-child {
                    z-index: 1;
                    position: absolute;
                    top: 13%;
                    left: 0;
                }
                &:nth-child(2) {
                    z-index: 1;
                    position: absolute;
                    top: 28%;
                    left: 0;
                }
                &:last-child {
                    z-index: 1;
                    position: absolute;
                    top: 78%;
                    left: 0;
                }
            }
        }

        div.top {
            padding-top: 60px;
            display: flex;
            flex-direction: column;
            div.top_title {
                font-weight: 700;
                margin: 0 auto;
                max-width: 328px;
                width: 95%;
                font-style: normal;
                letter-spacing: 0.2em;
                text-align: center;
                color: #FFFFFF;
                h1 {
                    font-size: 32px;
                    line-height: 125%;
                }
                h2 {
                    font-size: 28px;
                    line-height: 125%;
                }
                margin-bottom: 32px;
            }
            // 按鈕
            div.top_btn {
                position: relative; // 為了要覆蓋白色海浪
                z-index: 999;
                display: block;
                margin: 0 auto 32px;
                order: 0;
                flex-grow: 0;
                button {
                    box-shadow: none;
                    text-decoration: none;
                }
                p {
                    color: #FFFFFF;
                    font-weight: 700;
                    font-size: 18px;
                    letter-spacing: 0.2em;
                }
            }

            // 第一段主題文字
            div.top_Paragraph {
                background-color: $Primary_Color_3;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                max-width: 808px;
                width: 95%;
                padding: 0px 16px 24px;
                // padding: 24px 16px;
                margin: 0 auto;
                border: 2px solid #B57556;
                border-radius: 20px;
                position: relative;
                z-index: 999; // 為了要覆蓋白色海浪
                @media all and (max-width: 768px) {
                    max-width: 660px;
                    width: 95%;
                }
                @media all and (max-width: 414px) {
                    max-width: 366px;
                    width: 95%;
                }

                div.section {
                    width: 100%;
                    @media all and (max-width: 414px) {
                        max-width: 334px;
                        width: 95%;
                    }
                    &:first-child {
                        margin-bottom: 24.5px;
                    }
                    div.title {
                        position: relative;
                        margin-bottom: 16px;
                        width: fit-content;
                        margin: 20px auto;
                        p {
                            color: $Primary_Color_1;
                            margin: 0 auto;
                            font-weight: 700;
                            font-size: 18px;
                            max-width: 92px;
                            width: 95%;
                            text-align: center;
                        }
                        img {
                            &:first-child {
                                position: absolute;
                                right: -39%;
                                top: -10px;

                            }
                            &:last-child {
                                position: absolute;
                                left: -35%;
                                top: -10px;
                            }
                        }
                    }
                    ol.orderList {
                        padding: 0px 0px 0px 16px;
                        list-style: decimal;
                        color: $Primary_Color_1;
                        li {

                            &:first-child span {
                                font-weight: bold;
                                vertical-align: baseline;
                                text-decoration: underline;
                            }
                            &:last-child span {
                                font-weight: bold;
                                vertical-align: baseline;
                                text-decoration: underline;
                            }
                        }
                    }
                }

                
                div.supBubble {
                    img {
                        display: block;
                        // sup
                        &:first-child {
                            position: absolute;
                            right: 0;
                            top: -10%;
                        }
                        // 泡泡
                        &:nth-child(2) {
                            width: 20px;
                            position: absolute;
                            right: 4%;
                            top: -17%;
                            animation: bubbleUp_1 2.5s linear infinite;
                        }
                        // 泡泡
                        &:nth-child(3) {
                            position: absolute;
                            right: 2%;
                            top: -25%;
                            animation: bubbleUp_2 2.3s linear infinite;
                        }
                        // 船槳
                        &:last-child {
                            position: absolute;
                            right: -1%;
                            top: -6%;
                            animation: pandle_move_1 2.3s linear infinite;
                        }
                    }
                }
                div.supFireworks {
                    img {
                        display: block;
                        &:first-child {
                            position: absolute;
                            left: 3%;
                            bottom: -17%;
                        }
                        &:nth-child(2) {
                            position: absolute;
                            left: 0;
                            bottom: -18%;
                            animation: enlargeAndFadeOut 1.5s forwards infinite;
                        }
                        &:last-child{
                            position: absolute;
                            left: 1%;
                            bottom: -17%;
                            transform: rotate(110deg);
                            animation: pandle_move_2 2.3s linear infinite;
                        }
                    }
                }
            }
        }

        // 海浪
        div.theWavesContainer {
            width: 100%;
            overflow: hidden;
            border: none;
            div.theWaves {
                display: block;
                margin-top: 34px;
                height: 109px;
                width: 200%;
                background-repeat: repeat-x;
                background-image: url("../img/sea.png");
                animation: theWaves 10s linear infinite;
            }
        }
    }


    // ========== 表單 ========== // 
    article.main {
        max-width: 1920px;
        width: 100%;
        background-color: #E2D9D3;
        padding: 60px 0 58px;
        div.form {
            border-radius: 16px;
            background-color: #fff;
            margin: 0 auto;
            width: 95%;
            max-width: 808px;
            height: 575px;
            position: relative;
            border: 2px solid $Primary_Color_2;
            box-shadow: 0 1px 20px rgba(73, 72, 72, 0.25);
            border-radius: 16px;
            @media all and (max-width: 768px) {
                max-width: 640px;
                width: 95%;
            }
            @media all and (max-width: 414px) {
                max-width: 366px;
                width: 95%;
            }

            // topParagraph
            div.title {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                margin: 0 auto;
                background-color: #fff;
                border: 2px solid $Primary_Color_2;
                max-width: 123px;
                width: 95%;
                height: 43px;
                padding: 10px 20px;
                border-radius: 50px;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, -50%);
                p {
                    color: $Primary_Color_2;
                    max-width: 83px;
                    width: 95%;
                    height: 23px;
                    font-size: 18px;
                    line-height: 23px;
                    text-align: center;
                    letter-spacing: 0.2em;
                    font-style: normal;
                    font-weight: 700;
                }

                // turtle
                img {
                    position: absolute;
                    top: -25%;
                    right: -36%;
                    animation: turtle_move 2s linear infinite;
                }
            }

            // from表單
            div.formCotent {
                display: flex;
                flex-direction: column;

                div.formList {
                    margin: 40px 0px 20px 2%;
                    position: relative;
                    label {
                        width: fit-content;
                        font-size: 16px;
                        color: $Primary_Color_1;
                        position: relative;
                        &::after {
                            display: block;
                            color: $Primary_Color_2;
                            content: "*";
                            max-width: 5px;
                            width: 95%;
                            position: absolute;
                            top: 0;
                            right: -5px;
                        }
                    }

                    // 控制 dropDown.png
                    img {
                        display: block;
                        width: 4%;
                        min-width: 24px;
                        position: absolute;
                        right: 6.5%;
                        top: 47%;
                        z-index: 1;
                    }
                    // 錯誤提示
                    .error_Msg{
                        color: red;
                        position: absolute;
                        font-size: 12px;
                        left: 0;
                        bottom: -25%;
                    }
                    .error_Msg.none{
                        display: none;
                    }

                    // 控制 input
                    .fromItem {
                        border: 1px solid $Primary_Color_1;
                        background-color: #fff;
                        max-width: 768px;
                        width: 95%;
                        height: 57px;
                        padding: 8px;
                        position: relative;
                        -webkit-appearance: none; // 關掉預設樣式
                        appearance: none;
                        border-radius: 20px;
                        font-size: 16px;
                        @media all and (max-width: 768px) {
                            max-width: 600px;
                            width: 95%;
                        }
                        @media all and (max-width: 414px) {
                            max-width: 326px;
                            width: 95%;
                        }
                        &::-webkit-calendar-picker-indicator {
                            // 要寫JS
                            opacity: 0;
                        }

                        // 格式錯誤邊框
                        &.error {
                            border: 3px solid #E06D6D;
                        }
                    }
                    
                    // 控制 input dataList
                    datalist.chooseItem,
                    select.chooseItem{
                        background: #fff;
                        color: #BDBDBD;
                        max-width: 768px;
                        width: 95%;
                        height: 57px;
                        padding: 8px;
                        position: relative;
                        appearance: none;
                        border-radius: 5px;
                        option {
                            font-size: 16px;
                            background: #fff;
                            position: absolute;
                            color: #BDBDBD;
                        }

                    }
                    
                }

                // 排除第一個item
                .formList:not(:nth-child(-n+1)) {
                    margin: 0px 0px 20px 2%;
                }

            }
        }

        // submit btn
        .main_btn {
            display: contents;
            box-shadow: 0 4px 10px rgba(40, 35, 35, 0.35), 0 -4px 10px rgba(255, 255, 255, 0.9);
            border-radius: 50px;
            position: relative;
            .default,
            .success,
            .failure {
                margin: 40px auto 21px;
                p {
                    color: #FFFFFF;
                    font-weight: 700;
                    font-size: 18px;
                    letter-spacing: 0.2em;
                }
            }
            .success{
                p{
                    color: #E6FFB1;
                }
            }
            #failure{
                
                .failure{
                    margin-bottom: 0px;
                    p{
                        color: #FFE3E3;
                    }
                }
            }
            button + p{
            max-width: 202px;
            width: 95%;
            height: 21px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            text-align: center;
            color: #E06D6D;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            }
        }
        .main_btn.none{
            display: none;
        }

        // 抽獎區
        div.raffleArea {
            margin-top: 40px;
            background-image: url("../img/raffleSand.svg");
            padding: 65px 0 50px;
            ul.raffleBlock {
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                column-gap: 33px;
                row-gap: 33px;
                list-style: none;
                margin: 0 auto;
                max-width: 600px;
                width: 95%;
                @media all and (max-width: 768px) {
                    justify-content: center;
                    column-gap: 65px;
                    row-gap: 50px;
                }

                @media all and (max-width: 414px) {
                    justify-content: center;
                    column-gap: 16px;
                }
                li.raffleItem {
                    max-width: 178px;
                    width: 95%;
                    height: 112px;
                    background-color: #fff;
                    box-shadow: 0 8px 0 #EDEEF0;
                    border-radius: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: relative;

                    .certificate_ID {
                        background-image: url("../img/certificateA.svg");
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        top: 10%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        p {
                            font-weight: 700;
                            color: #FFFFFF;
                            font-size: 16.916px;
                        }
                    }

                    .certificate_ID.typeA {
                        background-image: url("../img/certificateA.svg");
                        max-width: 66px;
                        width: 95%;
                        height: 78px;
                        p {
                            padding-bottom: 10px;
                        }
                    }
                    .certificate_ID.typeB {
                        background-image: url("../img/certificateD.svg");
                        max-width: 65px;
                        width: 95%;
                        height: 65px;
                    }

                    p.raffleName {
                        color: $Primary_Color_6;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 125%;
                        text-align: center;
                        order: 1;
                    }

                    div.mark {
                        width: 100%;
                        max-width: 50px;
                        margin: 0 7px 25px auto;
                        border: 1px solid $Primary_Color_6;
                        padding: 3px 10px;
                        background: #FAFAFA;
                        border-radius: 50px;
                        p {
                            display: block;
                            color: $Primary_Color_6;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 140%;
                        }
                    }

                }

            }
        }

        // 燈塔
        .lighthouse_wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            margin: 40px auto;
            max-width: 274px;
            width: 95%;
            .title {
                display: flex;
                .content {
                    max-width: 238px;
                    width: 95%;
                    line-height: 166%;
                    h6 {
                        font-weight: 700;
                        font-size: 20px;
                        text-align: center;
                        &:first-child {
                            color: $Primary_Color_2;
                        }
                        &:last-child {
                            color: $Primary_Color_1;
                        }
                    }

                }
                img {
                    display: block;
                    max-width: 20px;
                    width: 100%;
                    height: 75px;
                }
            }
            img {
                display: block;
                max-width: 56px;
                width: 100%;
                height: 194px;
            }
        }
    }

    // 商城
    footer.shopMall_wrap {
        margin-top: 40px;
        background-color: $Primary_Color_1;
        width: 100%;
        border-radius: 50px 50px 0 0;
        h6 {
            color: #FFFFFF;
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 200%;
            text-align: center;
            letter-spacing: 0.2em;
            margin-bottom: 24px;
        }
        img {
            display: block;
            margin: 0 auto;
            max-width: 376px;
            width: 100%;
            height: 493px;
            padding-bottom: 40px;
        }
    }
}

// ========== animation ========== // 

// firerWork 的動畫
@keyframes enlargeAndFadeOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 0.5;
        transform: scale(2);
    }
    100% {
        opacity: 0;
        transform: scale(2);
    }
}

// 船槳往上滑動的動畫_1
@keyframes pandle_move_1 {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(45deg);
    }
    0% {
        transform: rotate(0deg);
    }
}

// 船槳往上滑動的動畫_2
@keyframes pandle_move_2 {
    0% {
        transform: rotate(110deg);
    }
    50% {
        transform: rotate(80deg);
    }
    0% {
        transform: rotate(110deg);
    }
}

// 泡泡往上飄動的動畫_1 
@keyframes bubbleUp_1 {
    0% {
        transform: translate(0,0);
    }
    25%{
        transform: translate(3px, -10px);
    }
    100% {
        transform: translate(-9px, -20px);
    }
}
// 泡泡往上飄動的動畫_2 
@keyframes bubbleUp_2 {
    0% {
        transform: translate(0px, 0px);
    }
    25%{
        transform: translate(-5px, -5px);
    }
    100% {
        transform: translate(10px, -20px);
    }
}

// 海浪動畫
@keyframes theWaves {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

// 🐢 動畫
@keyframes turtle_move {
    0% {
        transform: rotate(0deg) translateX(0);
    }
    25% {
        transform: rotate(-5deg) translateX(-5%);
    }
    50% {
        transform: rotate(0deg) translateX(0);
    }
    75% {
        transform: rotate(5deg) translateX(5%);
    }
    100% {
        transform: rotate(0deg) translateX(0);
    }
}
