<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css">
        <title>鎰威科技前端面試考題</title>
    </head>
    <!-- h1 32px -->
    <!-- h2 28px -->
    <!-- btn 18px -->
    <body>
        <div id="app" class="container wrapper">
            <div class="header">
                <!-- 白色海浪 -->
                <div class="whiteWaves">
                    <img src="./img/whiteWaves1.png" alt="whiteWaves1">
                    <img src="./img/whiteWaves2.png" alt="whiteWaves2">
                    <img src="./img/whiteWaves3.svg" alt="whiteWaves3">
                </div>
                <div class="top">

                    <!-- 標題 -->
                    <div class="top_title">
                        <h1>There is no one</h1>
                        <h2>who loves pain</h2>
                    </div>

                    <!-- 按鈕 -->
                    <div class="top_btn">
                        <a class="default btn" href="#from">
                            <p>FORM</p>
                        </a>
                    </div>

                    <!-- 內文 -->
                    <div class="top_Paragraph">
                        <div class="section">
                            <div class="title">
                                <!-- 仙人掌 -->
                                <img src="./img/cactus.png" alt="cactus">
                                <p class="font18">paragraph</p>
                                <!-- 仙人掌 -->
                                <img src="./img/cactus.png" alt="cactus">
                            </div>
                            <ol class="orderList">
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            </ol>
                        </div>

                        <div class="section">
                            <div class="title">
                                <!-- 仙人掌 -->
                                <img src="./img/cactus.png" alt="cactus">
                                <p class="font18">paragraph</p>
                                <!-- 仙人掌 -->
                                <img src="./img/cactus.png" alt="cactus">
                            </div>
                            <ol class="orderList">
                                <li>Quisque sodales leo <span>vitae vulputate auctor.</span></li>
                                <li>Proin ac justo ut nisl tincidunt imperdiet.Maecenas viverra libero a
                                    pellentesque blandit.</li>
                                <li>Cras tristique tellus id leo bibendum, eu dapibus nisl accumsan.</li>
                                <li>Donec ultrices sapien <span>vitae leo venenatis ullamcorper.</span></li>
                            </ol>
                        </div>

                        <!-- 獨木舟 & 泡泡 -->
                        <div class="supBubble">
                            <img src="./img/sup.svg" alt="sup">
                            <img src="./img/Bubble.png" alt="Bubble">
                            <img src="./img/Bubble.png" alt="Bubble">
                            <img src="./img/paddle.png" alt="paddle">
                        </div>

                        <!-- 獨木舟 & 煙火 -->
                        <div class="supFireworks">
                            <img src="./img/sup.png" alt="sup">
                            <img src="./img/fireworks.svg" alt="Fireworks">
                        </div>
                    </div>

                </div>
                <div class="theWavesContainer">
                    <div class="theWaves"></div>
                </div>
            </div>

            <article class="main wrapper">

                <!-- 表單 -->
                <div id="from" style='margin-top:-100px; padding-top:100px'></div>
                <div class="form">
                    <div class="title">
                        <p>FORM</p>
                        <img src="./img/turtle.png" alt="turtle">
                    </div>
                    <div class="formCotent">
                        <div class="formList">
                            <p>store</p>
                            <img src="./img/dropDown.png" alt="dropDown">
                            <input
                                type="text"
                                class="fromItem"
                                :class="{ 'error': !checkOptions()}"
                                list="storelist"
                                placeholder="placeholder text"
                                v-model="inputData.selectedStore"
                                @input="checkOptions()"
                                required
                                >
                            <span 
                                class="error_Msg"
                                v-if="!checkOptions()" 
                            >請輸入下拉列表中的選項</span>
                            <datalist   id="storelist" 
                                        class="chooseItem"
                                        >
                                <option v-for="(option,index) in this.storeOptions" 
                                        :value="option" 
                                        :key="index"
                                        >
                                    </option>
                            </datalist>
                        </div>


                        <div class="formList">
                            <p>name</p>
                            <input
                                type="text"
                                id="fromName"
                                class="fromItem"
                                :class="{ 'error': !checkName() }"
                                placeholder="placeholder text"
                                v-model.trim="inputData.name" 
                                />
                            <span v-if="!checkName()" class="error_Msg">請輸入英文或中文名，不得為空</span>
                        </div>
                        <div class="formList">
                            <p>phone</p>
                            <input
                                type="tel"
                                id="fromID"
                                class="fromItem"
                                :class="{ 'error': !checkPhone()}"
                                placeholder="placeholder text"
                                v-model.trim="inputData.phone"
                                maxlength="10"
                                />
                                <span v-if="!checkPhone()" class="error_Msg">請輸入手機號碼</span>
                        </div>
                        <div class="formList">
                            <p>Amount of consumption</p>
                            <input
                                type="number"
                                id="fromAmount"
                                class="fromItem"
                                placeholder="placeholder text"
                                v-model.trim="inputData.amount"/>
                            <span v-if="!checkAmount()" class="error_Msg">請輸入正確格式</span>
                        </div>
                        
                        <div class="formList">
                            <p>payment</p>
                            <img src="./img/dropDown.png" alt="dropDown">
                            <select 
                                    name="paymentList"
                                    type="text"
                                    class="fromItem"
                                    list="storelist"
                                    placeholder="placeholder text">
                                    >
                            </select>
                            <option class="chooseItem"
                                    v-for="(option,index) in this.options" 
                                    :value="option" 
                                    :key="index"
                            ></option>
                        </div>
                    </div>
                </div>
                <!-- 按鈕 -->
                <div class="main_btn">
                    <button 
                            class="default"
                            @click="submitForm"
                            >
                        <p>submit</p>
                    </button>
                </div>

                <!-- 成功按鈕 -->
                <div class="main_btn">
                    <button class="success">
                        <img src="./img/success.png" alt="success">
                        <p>success</p>
                    </button>
                </div>

                <!-- 失敗按鈕 -->
                <div class="main_btn">
                    <button class="failure">
                        <img src="./img/failure.svg" alt="success">
                        <p>failure</p>
                    </button>
                    <p>This person does not exist</p>
                </div>
                

                <!-- 抽獎區 -->
                <div class="raffleArea">
                    <ul class="raffleBlock">
                        <template 
                            v-for="item in raffleDataA"
                            :key="item.id"
                        >
                            <li class="raffleItem">
                                <!-- TOP 3 -->
                                <div class="certificate_ID typeA">
                                    <p>{{item.id}}</p>
                                </div>
                                <p class="raffleName font18">{{item.name}}</p>
                                <div class="mark">
                                    <p>{{item.mark}}</p>
                                </div>
                            </li>
                        </template>
                        <template 
                            v-for="item in raffleDataB"
                            :key="item.id"
                        >
                            <li class="raffleItem">
                                <div class="certificate_ID typeB">
                                    <p style="padding-bottom: 2px;">{{item.id}}</p>
                                </div>
                                <p class="raffleName" style="color: #A0BCC8">{{item.name}}</p>
                                <div class="mark" style="border: 1px solid #A0BCC8">
                                    <p style="color: #A0BCC8">{{item.mark}}</p>
                                </div>
                            </li>
                        </template>
                    </ul>
                </div>

                <!-- lighthouse -->
                <div class="lighthouse_wrap">
                    <div class="title">
                        <img src="./img/leftLine.png" alt="">
                        <div class="content">
                            <h6>
                                13.32
                            </h6>
                            <h6>
                                who seeks after it and<br>
                                wants to have it
                            </h6>
                        </div>
                        <img src="./img/rightLine.png" alt="">
                    </div>
                    <img src="./img/lighthouse.svg" alt="">
                </div>
            </article>

            <!-- 商城 -->

            <footer class="shopMall_wrap">
                <h6>
                    Neque porro quisquam
                    <br>
                    est qui dolorem!
                </h6>
                <img src="./img/market.svg" alt="market">

            </footer>



        </div>
        <script src="./js/vender/Vue/vue.global.js"></script>
        <script src="./js/vender/isJS/is.min.js"></script>
        <script>
            // (function () {
            // })();
            const app = Vue.createApp({

                data() {
                    return {
                        raffleDataA: [
                            {
                                id: "A",
                                mark: "ONE",
                                name: "dehumidifier"
                            },
                            {
                                id: "B",
                                mark: "ONE",
                                name: "range hood"
                            },
                            {
                                id: "C",
                                mark: "ONE",
                                name: "vacuum cleaner"
                            }
                        ],

                        raffleDataB: [
                            {
                                id: "D",
                                mark: "ONE",
                                name: "toaster"
                            },
                            {
                                id: "E",
                                mark: "ONE",
                                name: "scale"
                            },
                            {
                                id: "F",
                                mark: "ONE",
                                name: "straightening iron"
                            },
                            {
                                id: "G",
                                mark: "FIVE",
                                name: "vacuum cleaner"
                            },
                            {
                                id: "H",
                                mark: "TEN",
                                name: "rice cooker"
                            }
                        ],
                        storeOptions: [
                            "store1",
                            "store2",
                            "store3"
                        ],
                        
                        inputData: {
                            selectedStore: "",
                            name: "",
                            phone: "",
                            amount: "",
                        }
                        
                    }
                },
                computed: {
                },
                mounted() {
                    
                },
                methods: {
                    // ===== 驗證格式 ===== // 

                    // FIXME
                    // 1、store
                    checkOptions() {
                        const inputValue = this.inputData.selectedStore.trim();
                        // console.log(inputValue);
                        for (let i = 0; i < this.storeOptions.length; i++) {
                            const el = this.storeOptions[i];
                            // console.log(el);
                            if (el.includes(String(inputValue))) {
                                // console.log("正確");
                            }else{
                                inputValue = "";
                            }
                            // if (el.includes(inputValue)) {
                            // }       
                            // console.log(el.includes(inputValue));
                        }
                        
                    },

                    // 2、name
                    nameRule(nameStr){
                        let nameRule =  new RegExp('^[\u4e00-\u9fa5]+$|^[a-zA-Z\s]+$');
                        return nameRule.test(nameStr);
                    },

                    checkName(){
                        // 姓名驗證 (中文與英文)
                        if(this.inputData.name =="")return false
                        console.log(this.nameRule(this.inputData.name));
                        return this.nameRule(this.inputData.name);
                    },

                    // 3、phone
                    phoneRule(str){
                        let phoneRule =  new RegExp("^09\\d{8}$");
                        return phoneRule.test(str);
                    },
                    checkPhone(){
                        if(this.inputData.phone =="")return false;
                        console.log(this.phoneRule(this.inputData.phone));
                        return this.phoneRule(this.inputData.phone);
                    },

                    // 4、sum
                    checkAmount(str) {
                        let addrRule = new RegExp('^[\u4e00-\u9fa5A-Za-z0-9]+[\u4e00-\u9fa5A-Za-z0-9\s]+[\u4e00-\u9fa5A-Za-z0-9]$')
                        return addrRule.test(str);
                    },

                    // 5、payment


                    // submit
                    submitForm() {
                        if (this.inputData.selectedStore === "") {
                            alert("請選擇一個店家");
                        }
                    },


                },

            });
            const vm = app.mount("#app");
        </script>
    </body>
</html>